# Lesson 3: Introduction to `pandas`  for data processing and manipulation

## 05/06/2020

*The content below is primarily from [this pandas reference page](https://www.tutorialspoint.com/python_pandas/index.htm)*

**Goals of this notebook:**
- Introduce two `pandas` objects:
    - `pandas.Series()`
    - `pandas.DataFrame()`
- How to read and write csv files

## 3.0) Install and import `pandas`

A commonly used python library for importing and manipulating data is the `pandas` package. To install the `pandas` library, open a terminal and type `pip install pandas`. If you have anaconda installed you can also use the `conda install pandas` method.

Once you have `pandas` installed, you can access it's functionalities by running `import pandas` in your notebook before calling any of the pandas functions.

In [1]:
import pandas

Now that we have `pandas` installed, we can start using it to manipulate and import data. The two main objects used to manipulate data are `pandas.Series()` and `pandas.DataFrame()'.

## 3.1)  `pandas.Series()` arrays

In `pandas`, a 'series' is a one dimensional array, similar to the arrays we covered in lesson 2. However, series have some important differences. 

First, all of the elements in a `pandas` series need to be of the same type. For example, they can all be integers, floats, stings, booleans, tuples, etc, but unlike tuples or lists, series cannot have different types in the same series. If you do create a series with a few different data types, `pandas` will try to auto-convert all of the items into one data type (e.g., if you create a list of numbers with one string, all of the items will be converted to strings).

Second, arithmetic operators can be used to perform element-wise arithmetic operations, rather than behave like they do with python tuples or lists. We will see examples of this below.

### 3.1.1) Creating a series

To create a series we need to call the `pandas.Series()` function. The dot `.` notation is similar to saying "Look in the `pandas` library and find the `Series()` function". The `pandas.Series()` function can take up to four arguments: `pandas.Series(data, index, dtype, copy)`
- **data:** the elements you want in your series (can be an array, list, or constant number/string)
- **index:** index ID for each row (needs to be the same length as the data)
- **dtype:** the data type (e.g., float, integer, string)
- **copy:** whether or not a copy is created of the data

Once we have this function there are a few ways we can create a series. We can convert a list into a series by putting a list as the data.

In [9]:
# Creating a series using an list
data = [1,2,3,4]
s = pandas.Series(data)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

Notice that although we only provided one list (`data`), when we print the series we see two columns - one that ranges from 0-3 and the other that has our list (1-4). The column on the left is the series **index labels**, which, if not provided, defaults to a range of numbers starting at 0 and ending at the length of your list minus 1 (because of 0 indexing).

Index labels can be customized by passing a second list in the 'index' argument when creating your series. Note that his second list must be the same length as the list provided to the `data` argument.

In [11]:
# Creating a series using an list
data = [1,2,3,4]
# Specify index labels
idx = ['a', 'b', 'c', 'd']
s = pandas.Series(data,index=idx)
print(s)

a    1
b    2
c    3
d    4
dtype: int64

Another way to create a series with both index labels and values is with a dictionary as the `data` argument. By default, the dictionary keys are used as the index labels, and the dictionary values are passed to the series.

In [13]:
# Creating a series using a dictionary - keys create index
data = {'a':1, 'b':2, 'c':3, 'd':4}
s = pandas.Series(data)
print(s)

a    1
b    2
c    3
d    4
dtype: int64

You can also create a series with one repeating element (e.g., a series with 3 `5`s). You can do this by creating a list with the single element as the `data` argument, and a list in the `index` argument with length euql to the number of times you want the element repeated.

In [14]:
# Creating series of repeating elements
s = pandas.Series(5,index=['a','b','c'])
print(s)

a    5
b    5
c    5
dtype: int64

### 3.1.2) Setting a series data type using the `dtype` argument

In some cases you may have a list you want to convert into a series but which you may want to convert into a different data type (e.g., change a series of floats into a series of integers or strings). You can set the data type for the series using the `dtype` keyword argument.

In [18]:
# List of integers I want to convert to a series
data = [1,2,3,4,5]
s_int = pandas.Series(data)
print(s_int)

# Create the same series but now convert the elements into floats
s_float = pandas.Series(data,dtype=float)
print(s_float)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

### 3.1.3) The importance of `copy`ing 

One caution is that python will sometimes assign different variable names to the same object. For example, if I have a list `a = [1,2,3,4,5]`, then I create a new variable `b = a` to serve as a copy of `a`, by default python uses both `a` and `b` variable names to modify the same list `[1,2,3,4,5]`. This can lead to objects being changed when you don't intend them to be.

For example, with the lists above, if I change the first item in `b` to the number `10`, it will also, by default, change the first item in `a`, even if I don't specify this explicitly.

In [21]:
# Create a list
a = [1,2,3,4,5]
b = a

print(a)
print(b)

# Change the first item in b to the number 10
b[0] = 10

# Notice that although we did nothing to a, the first item has been changed
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

To get around this issue we can use python's `copy()` method, which creates a new copy of the orginal object. For example, `b = a.copy()` now creates a new copy of `a` that will not interfere with `a`.

In [22]:
# Create a list
a = [1,2,3,4,5]
b = a.copy()

print(a)
print(b)

# Change the first item in b to the number 10
b[0] = 10

# Notice that now the list a remains unchanged
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

If you wish to copy the variable you are converting to a series, you can set the copy() argument to `True`.

In [26]:
data = [1,2,3,4,5]
s = pandas.Series(data,copy=True)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 3.1.4) Indexing

To access the elements of a series you can use similar index notation used with lists and tuples. You can use an index number to access a single series element (again, noting that indexing in python starts at 0), or slice indexing to access multiple elements.

In [31]:
data = {'a':1, 'b':2, 'c':3, 'd':4}
s = pandas.Series(data)
print(s)

# INDEXING USING NUMBERS
# First element
print(s[0])

# First 3 elements
print(s[:3])

# Middle two elements
print(s[1:3])

# Last 3 elements
print(s[-3:])

a    1
b    2
c    3
d    4
dtype: int64
1
a    1
b    2
c    3
dtype: int64
b    2
c    3
dtype: int64
b    2
c    3
d    4
dtype: int64

You can also use the index labels to access elements of the series. This is particularly handy if you know the element's index label (e.g., if the index label is a subject's ID), but don't know the element's position in the series.

In [32]:
data = {'a':1, 'b':2, 'c':3, 'd':4}
s = pandas.Series(data)

# INDEXING USING INDEX LABELS
print('Accessing one element')
print(s['a'])
print('Accessing many elements')
print(s[['a','b','d']])

Accessing one element
1
Accessing many elements
a    1
b    2
d    4
dtype: int64

### 3.1.5) Basic operations

Unlike lists, tuples, and dictionaries, you can use arithmetic operators on pandas.Series() objects. These generally result in element-wise operations: the operation will apply to each element of the series.

If an operation is applied between a series and a number (a scalar value), that operation will be applied between each element of the series and the number. For example, if I have a series `s` and run the code `s+1`, the value of `1` will be added to each element of `s`. 

If an operation is applied between two series, the operation will apply between each indexed pair of elements in each series (e.g., `s1 + s2` will start by adding `s1[0]` and `s2[0]` and so on). Opertaions between series can only be performed if the series are of the same length.

In [33]:
data = {'a':1, 'b':2, 'c':3, 'd':4}
s = pandas.Series(data)
print(s)

# Addition
print(s + 1)

# Multiplication
print(s * 3)

# Exponentiation
print(s**2)

# Using an operator between two Series results in an elementwise operation
print(s * s)

a    1
b    2
c    3
d    4
dtype: int64
a    2
b    3
c    4
d    5
dtype: int64
a     3
b     6
c     9
d    12
dtype: int64
a     1
b     4
c     9
d    16
dtype: int64
a     1
b     4
c     9
d    16
dtype: int64

## 2) pandas.DataFrame()

- The main pandas object is a Data Frame - think of this as a 2D spreadsheet with rows and columns
- `pandas.DataFrame(data, index, columns, dtype, copy):
    - data: various input that you would like to convert into a table
    - index: row index label
    - columns: column index label
    - dtype: data type for each column (do not have to be the same)
    - copy: copy the data you are converting to a data frame

In [49]:
# Simple 4x1 Data Frame
data = [1,2,3,4]
df = pandas.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4

In [53]:
# Creating a 4 x 2 Data Frame using list of lists
data = [['Alex',33],['Zhang',25],['Emily',35]]
df = pandas.DataFrame(data,columns=['Name','Age'])
print(df)

# #Same thing but converting second column to float
# df_float = pandas.DataFrame(data,columns=['Name','Age'],dtype=float)
# print(df_float)

    Name  Age
0   Alex   33
1  Zhang   25
2  Emily   35

In [52]:
# Creating a data frame using dictionary
data = {'Name':['Alex','Zhang','Emily'], 'Age':[33,25,35]}
df = pandas.DataFrame(data)
print(df)

    Name  Age
0   Alex   33
1  Zhang   25
2  Emily   35

In [54]:
# Creating data frame using list of dictionaries
data = [{'Name': 'Alex', 'Age': 33}, {'Name': 'Zhang', 'Age': 25}, {'Name': 'Emily', 'Age': 35}]
df = pandas.DataFrame(data)
print(df)

    Name  Age
0   Alex   33
1  Zhang   25
2  Emily   35

In [59]:
# Creating a data from with a subset of the elements in a dictionary
data = {'Name':['Alex','Zhang','Emily'], 'Age':[33,25,35], 'Height':[180,185,178]}
df1 = pandas.DataFrame(data,columns=['Name','Age'])
df2 = pandas.DataFrame(data,columns=['Name','Height'])
df3 = pandas.DataFrame(data,columns=['Name','Height','Weight'])

#print(df1)
#print(df2)
print(df3)

    Name  Height Weight
0   Alex     180    NaN
1  Zhang     185    NaN
2  Emily     178    NaN

In [61]:
# Create data frame from dictionary of series - power of indexing (e.g., subject numbers)
idx1 = [1,2,3]
idx2 = [2,3,1]
idx3 = ['a','b','c']
data = {'Name':pandas.Series(['Alex','Zhang','Emily'],index = idx1),
        'Age':pandas.Series([33,25,35], index=idx1),
        'Age2':pandas.Series([25,35,33],index = idx2)}
df = pandas.DataFrame(data)
print(df)

    Name  Age  Age2
1   Alex   33    33
2  Zhang   25    25
3  Emily   35    35

In [68]:
# Creating new columns
data = {'Name':['Alex','Zhang','Emily'], 'Age':[33,25,35]}
df = pandas.DataFrame(data,columns=['Age','Name'])
print(df)


# # Using a list
# df['Height'] = [180,185,178]
# #print(df)

# # Using a series (note the indexing)
# df['Age2'] = pandas.Series([25,35,33],index = [1,2,0])


# # Using existing columns - transforming one column
# df['Age_squared'] = df['Age']**2


# # Using existing more than one column
# df['Age_Height'] = df['Age']*df['Height']
# print(df)

   Age   Name
0   33   Alex
1   25  Zhang
2   35  Emily

In [71]:
# Deleting columns
data = {'Name':['Alex','Zhang','Emily'], 'Age':[33,25,35], 'Age2':[33,25,35]}
df = pandas.DataFrame(data)
print(df)

# Delete using del
del df['Age2']
print(df)

# Delete using pop
df.pop('Age')
print(df)

    Name  Age  Age2
0   Alex   33    33
1  Zhang   25    25
2  Emily   35    35
    Name  Age
0   Alex   33
1  Zhang   25
2  Emily   35
    Name
0   Alex
1  Zhang
2  Emily

## Row selection, addition, deletion

Indexing rows from pandas data frames takes some getting used to - it's not as easy as just using row and column indicies like with other languages (there's a whole SQL philosophy behind this).

Indexing can be done using the `.loc` and `.iloc` functions

- `loc` uses the row index names
- `iloc` uses the row index number (probably what some fo you are more used to)

In [93]:
# Row selection
data = {'Name':pandas.Series(['Alex','Zhang','Emily'],index = ['a','b','c']),
        'Age':pandas.Series([33,25,35], index=['a','b','c']),
        'Age2':pandas.Series([25,35,33],index = ['a','b','c'])}
df = pandas.DataFrame(data)
print(df)

# # Using slice indexing - returns DF
print(df.iloc[1])

# Using `loc` - returns Series
#print(df.loc['b'])

# # Using iloc
# print(df.iloc[1])

    Name  Age  Age2
a   Alex   33    25
b  Zhang   25    35
c  Emily   35    33
<class 'pandas.core.series.Series'>

In [117]:
# Using logic with loc
print(df['Name'].loc[df['Age'] == 33])
print(df['Name'].loc[df['Age'] != 33])

a    Alex
Name: Name, dtype: object
b    Zhang
c    Emily
Name: Name, dtype: object

In [118]:
# Indexing from one colum
print(df['Name'].loc[['b','c']])

# Indexing using slice index
print(df['Name'].iloc[1:])

# If it's for one column, slice indexing works without iloc
print(df['Name'][1:])

# Indexing from multiple columns
print(df[['Name','Age']].iloc[1:])

b    Zhang
c    Emily
Name: Name, dtype: object
b    Zhang
c    Emily
Name: Name, dtype: object
b    Zhang
c    Emily
Name: Name, dtype: object
    Name  Age
b  Zhang   25
c  Emily   35

In [139]:
# Adding row using append()
data1 = {'Name':pandas.Series(['Alex','Zhang','Emily']),
        'Age':pandas.Series([33,25,35]),
        'Age2':pandas.Series([25,35,33])}
data2 = {'Name':pandas.Series(['Sarah','Mohammed','Kelly']),
        'Age':pandas.Series([33,25,35]),
        'Age2':pandas.Series([25,35,33])}
df1 = pandas.DataFrame(data1)
df2 = pandas.DataFrame(data2)

df1 = df1.append(df2)

# Note the index
print(df1)

# Change index
df1.index = ['a','b','c','d','e','f']
print(df1)

       Name  Age  Age2
0      Alex   33    25
1     Zhang   25    35
2     Emily   35    33
0     Sarah   33    25
1  Mohammed   25    35
2     Kelly   35    33
       Name  Age  Age2
a      Alex   33    25
b     Zhang   25    35
c     Emily   35    33
d     Sarah   33    25
e  Mohammed   25    35
f     Kelly   35    33

In [143]:
# Remove row(s) using drop()

df = df1.drop('a')
print(df)

df2 = df1.drop(['a','c'])
print(df2)

       Name  Age  Age2
b     Zhang   25    35
c     Emily   35    33
d     Sarah   33    25
e  Mohammed   25    35
f     Kelly   35    33
       Name  Age  Age2
b     Zhang   25    35
d     Sarah   33    25
e  Mohammed   25    35
f     Kelly   35    33

## Reading/writing csv files

Given the table format of data frames, these can be used to read in table data (e.g., csv files). We can do this using the `pandas.read_csv()` function. There are a lot of arguments (which you can read [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html), and which we will covert as we need them), but here we'll just go over some of the very basics.

The main argument to include is the delimiter type (the character used to separate the columns in your text file). This can sometimes be inferred automatically, especially for common data types (e.g., csv), but it's generally good to specify.

In [94]:
# Read in the csv named 'names.csv'
df = pandas.read_csv('names.csv',sep=',')
print(df)

       Name  Age
0      Alex   33
1     Zhang   25
2     Emily   35
3     Sarah   33
4  Mohammed   33
5     Kelly   36
6    Rashad   21
7   Chantal   26

In [99]:
# If we have a huge data frame and just want to see the first few lines we can call the .head() function

# print('First rows')
# print(df.head()) # by default you get the first 5 lines, but you can increase this by including a number in the parentheses

# We can also just look at the last few rows using .tail()
print('\nLast rows')
print(df.tail(3))

Last rows
      Name  Age
5    Kelly   36
6   Rashad   21
7  Chantal   26

In [100]:
# Add a new column for height
df['Height'] = [180,185,178,190,165,155,180,159]

print(df)

       Name  Age  Height
0      Alex   33     180
1     Zhang   25     185
2     Emily   35     178
3     Sarah   33     190
4  Mohammed   33     165
5     Kelly   36     155
6    Rashad   21     180
7   Chantal   26     159

If we want to save a data frame as a csv file we can use the `.to_csv` method. Again, there are a lot of arguments you can pass to this method (see them [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)), but the main ones we'll use here are:

- path: file name (including filepath and extension)
- sep: delimiter you want to use
- index: whether or not you want the index labels to be written as the first column
- index_label: column name for the index

In [101]:
# Save data frame as comma separated values file - saves the data frame as a csv called 'names2' in my current folder
df.to_csv('/Users/alsfilip/Desktop/names2.csv',sep=',',index=True,index_label='SubjectID')